header{
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 100;
}
header hr{
    margin: 0;
}
header li{
    padding:0.2em;
}
body{
    background-color: rgb(194, 237, 234);
    flex-direction: column;
    display: flex;
    
}


.nav{
    background-color: rgb(8, 191, 212);
     font-size: 1.5rem;
    height: 5rem; 
    display: flex;
    align-items: center;
    
}
.nav-item{
    border-radius: 10px;
}
.nav-item:hover{
    background-color: rgba(29, 214, 230, 0.841);
}
.dropdown-menu{
    
    background-color:rgb(8, 191, 212);
}

.nav-link{
    color: rgb(20, 30, 163);
 
    
}
.nav-link:hover{
    color: rgb(194, 237, 234);
}

.dropdown-item{
    color: rgb(20, 30, 163);
}
.dropdown-item:hover{
    color: white;
    background-color:rgba(29, 214, 230, 0.841);
}

.section1{
display: flex;
flex: 1;
background-color: rgb(163, 238, 233) ;
}

.intro{
    position: relative;
    top: 5vh;
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
   
    margin: 60px ;
   margin-left: 60px; 
   margin-right: 60px;

  
}
.start{
   margin-top: 135px;
   margin-bottom: 50px;
    height: 600px;
    display: flex;
    align-items: center;
}
.writing{
   margin-top: 50px;
    height: 500px;
}

.pic{
    border: 8px solid rgb(8, 191, 212);
    border-radius: 50%;
    height: 500px;
    width: 500px;
    float: left;
}
.name{
    position: absolute;
    top: -5vh;
    margin: 50px;
    margin-left: 80px;
    margin-top: 60px;
    margin-bottom: 60px;
    font-weight: 900;
    font-size: 4.2rem;
}
#iam{
    font-style: italic;
}
#mohit{
    width: 600px;
    position: absolute;
    top: 58px;
    font-size: 5rem;
    font-weight: 1500;
    font-family: 'DM Sans', sans-serif;
}
#mohit span{
    color: rgb(21, 5, 143);
}
.speech{
    margin: 50px;
    margin-left: 80px;
    margin-top: 70px;
    margin-bottom: 60px;

    font-family: 'Cedarville Cursive', cursive;
   
    font-size: 2.3rem;
}


.skill-head{
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 3.4em;
}

.skill-head p{
    margin-top: 15px;
    margin-bottom: 0;
}

.skill-items{
    display: grid;
    
}

.skill-item{
 
    padding: 1%;
    margin-left: 5em;
}
.skill-item p{
    font-weight: 600;
    font-size: 1.4em;
}

.future{
    margin: 100px;
    text-align: center;
    font-size: 2rem;
}
#footer{
    background-color: rgb(8, 191, 212);
}

.container{
    
  
    
    margin-left: auto;
    margin-right: auto;
   
}

form{
    height: 300px;
}
#contact{
    font-size: 2em;
}
.details{
    display: flex;
    gap: 140px;
}
.detail{
    font-size: 1.6em;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.set{
    display: flex;
    margin: 20px;
}
#name{
    margin-right: 15px;
    margin-bottom: 0;
}
.detail input{
    border-radius: 25px;
    width: 16em;
}
#mess{
    border-radius: 25px;
}
.detail button{
    background-color: rgb(4, 154, 247);
    color: aliceblue;
    border-radius: 15px;
    font-size: 1.2em;
    width: 150px;
}



