header{
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 100;
}
header hr{
    margin: 0;
}
header li{
    padding:0.2em;
}
body{
    background-color: rgb(194, 237, 234);
}

.nav{
    background-color: rgb(8, 191, 212);
     font-size: 1.5rem;
    height: 5rem; 
    display: flex;
    align-items: center;
    
}
.nav-item{
    border-radius: 10px;
}
.nav-item:hover{
    background-color: rgba(11, 38, 84, 0.455);
}
.dropdown-menu{
    
    background-color:rgb(8, 191, 212);
}

.nav-link{
    color: rgb(20, 30, 163);
 
    
}
.nav-link:hover{
    color: rgb(194, 237, 234);
}

.dropdown-item{
    color: rgb(20, 30, 163);
}
.dropdown-item:hover{
    color: white;
    background-color:rgb(56, 206, 214);
}

.intro{
    height: 600px;
    
   
   margin: 100px ;
   margin-left: 125px;

  
}
.start{
    display: flex;
    align-items: center;
}

.pic{
    border: 8px solid rgb(8, 191, 212);
    border-radius: 50%;
    height: 500px;
    width: 500px;
    float: left;
}
.speech{
    margin: 50px;
    margin-left: 80px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.intro p{
    
    font-family: 'Cedarville Cursive', cursive;
   
    font-size: 2.8rem;
}
.future{
    text-align: center;
    font-size: 2rem;
}
#footer{
    background-color: rgb(8, 191, 212);
}
.container{
    
  
    
    margin-left: auto;
    margin-right: auto;
   
}

